
VITE_SUPABASE_URL=https://zxkcncwrocrqqooubhho.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4a2NuY3dyb2NycXFvb3ViaGhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyNTM0ODQsImV4cCI6MjEwNTgyOTQ4NH0.DdzDZzVURJc2otmqeFEF8iuK98wppSXavMCQY5LfRu4
